.clang-format
.gitmodules
.github
test
vendor/libuv

vendor/rocksdb/java
vendor/rocksdb/**/*

!vendor/rocksdb/**/CMakeLists.txt
!vendor/rocksdb/**/*.cmake
!vendor/rocksdb/**/*.cmake.in
!vendor/rocksdb/**/*.c
!vendor/rocksdb/**/*.cc
!vendor/rocksdb/**/*.cc.in
!vendor/rocksdb/**/*.h
!vendor/rocksdb/**/*.pc.in
!vendor/rocksdb/**/*.S

vendor/rocksdb/**/*_test.cc
